@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: #000;
  background-image: radial-gradient(circle at 1px 1px, rgba(255,255,255,0.1) 1px, transparent 0);
  background-size: 2rem 2rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .glass-card {
    @apply bg-white/10 backdrop-blur-lg border border-white/20 rounded-2xl;
  }
}
